#load-password-prompt.modal{:role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Enter Password
      .modal-body
        %p
          Your tree is encrypted, please submit your password
        %input#password.form-control{type: 'password', placeholder: 'Password'}
        .wrong-password Wrong password!
        .cipher
      .modal-footer
        %button#load.btn.btn-primary.pull-left{:type => "button"} Load
