%span#operation
- options = [ ['Root statement', 'rootStatement'], ['Statement', 'statement'], ['Choice', 'choice'] ]
= select_tag "node-group", options_for_select(options, "statement"), {class: 'form-control'}
%textarea#node-label.form-control{placeholder: 'Type anything here...'}
%button#save-button.btn.btn-success save
%button#cancel-button.btn.btn-default cancel
= hidden_field_tag 'node-id'
