#save-password-prompt.modal{:role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Enter Password
      .modal-body
        %p
          You have chosen to protect the content of your tree with password-based encryption. Please enter your password now before things become stored in our DB.

        %input#password.form-control{type: 'password', placeholder: 'Password'}
        %br
        %input#password-confirmation.form-control{type: 'password', placeholder: 'Confirm password'}
        %br
        %p
          %i Please note: Your password needs to be at least 6 characters long


        .cipher
      .modal-footer
        %button#encrypt-and-push-to-backend.btn.btn-primary.pull-left{:type => "button", disabled: true} Save
        %button.btn.btn-primary.btn-danger{"data-dismiss" => "modal", :type => "button"} Cancel
