= title "NuxBuilder - Edit Graph"

#builder
  .row
    .col-xs-12.col-md-8
      #network-popUp.well.bs-component
        = render 'popup'
      #graph
        Locked by password
      #nux-messages
    .col-xs-12.hidden-md.hidden-lg
      Json:
    .col-xs-12.col-md-4
      .raw-textarea-container
        %textarea#raw-data-textarea{disabled: true}
        %button#push-to-backend-button.btn.btn-default.action-button{title: 'Save'}
          save

        %label.lock{title: 'encryption'}
          %input{type: 'checkbox', id: 'shall-encrypt', checked: @graph.encrypted}
          %i.fa.fa-lock.checked
          %i.fa.fa-unlock.unchecked

= render 'save_password_prompt'
= render 'load_password_prompt'

:javascript
  window.graphData = #{raw @data}
  window.graphToken = "#{@graph.token}"
  window.encrypted = #{@graph.encrypted}

= javascript_pack_tag 'graph'
= stylesheet_pack_tag 'src/graph'
