#landing-page
  .row
    .col-xs-12
      = image_tag 'nux_landing_page_img', class: 'logo'

  .row
    .col-xs-12
      #nux

  .row
    .col-xs-12
      %h1.text-center You need something like this for your website?
      %h3.text-center
        = link_to 'Create your own decision tree', create_graph_path, method: :post
        with nuxBuilder and
        = link_to 'embed it with the nux javascript library', ''
