$darkslategrey: #485563;
$darkerslategrey: #253545;
$darkred: #d9534f;
$green: #5cb85c;

#network-popUp {
  -webkit-box-shadow: 0px 0px 44px -2px rgba(59,51,59,1);
  -moz-box-shadow: 0px 0px 44px -2px rgba(59,51,59,1);
  box-shadow: 0px 0px 44px -2px rgba(59,51,59,1);
  display: none;
  position: absolute;
  z-index: 999;
  top: 60px;
  left: 27px;
  #node-label { height: 83px; }
  .btn {
    width: 50%;
    float: left;
  }
  select { color: black; }
}

#network-errors {
  color: red;
  font-size: 14px;
  font-weight: bold;
}

// EXPORT
#raw-data-textarea {
  background: $darkerslategrey;
  border: none;
  width: 100%;
  color: lightgrey;
  resize: none;
  height: calc(80vh - 45px);
  min-height: calc(500px - 45px) !important;
  padding: 20px;
}

#graph {
  height: 80vh;
  min-height: 500px;
}

.raw-textarea-container {
  button {
    padding: 0;
    height: 40px;
    float: left;
    width: 85%;
    font-size: 20px;
  }

  .lock {
    cursor: pointer;
    text-align: center;
    margin-left: 3px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    width: calc(15% - 3px);
    background: #4e5d6c;
    font-size: 22px;
    input[type="checkbox"],
    .checked {
      display: none;
    }
    input[type="checkbox"]:checked ~ .checked {
      display: inline-block;
    }
    input[type="checkbox"]:checked ~ .unchecked {
      display: none;
    }
  }
}

.action-button {
  margin-bottom: 5px;
  width: 32%;
}

.vis-manipulation {
  background: $darkerslategrey !important;
  border: none !important;
  padding: 10px;
  height: auto !important;
  min-height: 28px;
  .vis-separator-line { display: none !important; }
  .vis-button {
    margin-top: 6px;
    background-image: none !important;
    background-color: $darkslategrey;
    padding: 8px 16px !important;
    border-radius: 0 !important;
    height: auto !important;
    margin-left: 2px !important;
    .vis-label { margin: 0 !important }
    &.vis-none { background: none !important }
    &.vis-delete { background: $darkred !important }
  }
}

.vis-close { display: none !important }

canvas { background: $darkerslategrey !important; }

.wrong-password {
  display: none;
  color: salmon;
}
