/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require vis/dist/vis
 *= require font-awesome
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

.navbar-brand {
  color: black !important;
  opacity: 0.6;
  padding-top: 5px;
  padding-bottom: 5px;
  img {
    height: 100%;
  }
}

.coderat-logo {
  opacity: 0.6;
  margin: 20px;
  float: left;
  width: 250px;
  cursor: pointer;
  &:hover { opacity: 1; }
}

#landing-page {
  text-align: center;
  .logo {
    width: 80%;
    max-width: 1600px;
    margin: 50px;
    opacity: 0.6;
  }
  h1 { padding-top: 30px; }
}

#nux {
  opacity: 0.6;
  border-radius: 12px;
  background-color: black;
  color: #2b3e50;
  font-family: Arial;
  padding: 30px;
  text-align: center;
  h1 { font-size: 28px; }
  .button-row {
    text-align: center;
    button {
      background-color: #2b3e50;
      color: black;
      cursor: pointer;
      padding: 7px 14px;
      border: none;
      &:hover { background: #39536C; }
    }
  }
  .choice {
    margin: 7px;
    padding: 10px;
    background-color: #2b3e50;
    color: black;
    cursor: pointer;
    &:hover { background: #39536C; }
  }
  .statement-text { padding: 10px; }
}

#nux-messages {
  font-size: 20px;
}

// ENCRYPTION TOGGLE
input[type=checkbox] + label {
  color: red;
}

/* Toggled State */
input[type=checkbox]:checked + label {
  color: green;
}

