!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title= yield(:title)
    = favicon_link_tag 'favicon'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand{href: root_path}
            nux.js
            = image_tag 'nux_logo'

    .container
      = yield
    = link_to 'https://coderat.cc' do
      = image_tag 'coderat_logo', class: 'coderat-logo'